@media screen and (min-width: 943px){
body{
    justify-content: center;
    align-items: center;
    display: flex;
}
.container{
    width: 35%;
    height: 97vh;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    background-color: paleturquoise;
}
.kalkulator {
    width: 94%;
    height: 85vh;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 1px solid black;
    background-color: white;
    flex-direction: column;
}
.layarKalk{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 1px solid black;
    background-image: url('aa.png');
    background-size: cover;
    background-position: center;
            
    flex: 1;
    
}
.tombolKalk{
    flex: 4;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 1px solid black;
    background-color: rgba(80, 126, 220, 0.767);
    overflow: auto;
}
#layar{
    border: none;
    font-size: larger;
    flex: 1;
    width: 10px;
    text-align: right;
}
.tabelTombol td {
    
    padding: 5px;
}

.btn {
    width: 100%;
    height: 100%;
    font-size: 1.5em;
    cursor: pointer;
    border: 1px solid black;
    background-color: #f0f0f0;
}
#note{
    float: left;
    flex: 1;
    font-size: 0.8em;
}
#kosong{
    flex: 2;
    
}
}
@media screen and (max-width: 942px) {
    body{
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .container{
        width: 40vh;
        height: 55vh;
        justify-content: center;
        align-items: center;
        display: flex;
        border: 1px solid black;
        border-radius: 10px;
        background-color: paleturquoise;
        
    }
    .kalkulator {
        width: 35vh;
        height: 50vh;
        justify-content: center;
        align-items: center;
        display: flex;
        border: 1px solid black;
        background-color: white;
        flex-direction: column;
        overflow: auto;
    }
    .layarKalk{
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        border: 1px solid black;
        background-image: url('aa.png');
        background-size: cover;
        background-position: center;
        flex: 1;
        
    }
    .tombolKalk{
        flex: 4;
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        border: 1px solid black;
        background-color: rgba(80, 126, 220, 0.767);
        overflow: auto;
    }
    #layar{
        border: none;
        font-size: larger;
        flex: 1;
        width: 10px;
        text-align: right;
    }
    .tabelTombol td {
        
        padding: 5px;
    }
    
    .btn {
        width: 100%;
        
        font-size: 0.5em;
        cursor: pointer;
        border: 1px solid black;
        background-color: #f0f0f0;
    }
    #note{
        float: left;
        flex: 1;
        font-size: 0.8em;
    }
    #kosong{
        flex: 2;
        
    }
}